# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: golangci-lint
        name: golangci-lint
        entry: golangci-lint
        language: system
        types: [go]
        # For local use, ensure golangci-lint is installed globally:
        # go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.55.2
        args: [run, ./..., --timeout=5m]
-   repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
    -   id: go-fmt
        args: [./...]
    -   id: go-vet
        args: [./...]
    -   id: go-mod-tidy
